<!DOCTYPE html>
<html>
    <head>
        <title>GESTIONAR LIBROS</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/burger.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/styles_index.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/navegacion.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/admin.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/gestionLibros.css">
    </head>
    <body>
        <header class=" header">
            <div class = "container "> 
                <div class = "btn-menu">
                    <label for="btn-menu" class=""> <img class="menu-icon" src="images/menu.png" width="30px" height="30px" alt="Menu"></label>
                </div>
    
            </div>
        </header>
        <input type="checkbox" id = "btn-menu">
        
        <div class="container-menu">
            <div class="cont-menu">
                <nav>                    
                    <a href="gestionar">
                        <img class="search-icon" src="images/Libro.png" width="30px" height="30px" alt="Search">
                        Gestionar Libro
                    </a>
                    <br>
                    <a href="sugerencias">
                        <img class="search-icon" src="images/corazon.png" width="30px" height="30px" alt="Search">
                        Ver Sugerencias
                    </a>
                    <br>
                    <a id="rojito" href="#">  
                        <img class="search-icon" src="images/salir.png" width="30px" height="30px" alt="Search">
                        Cerrar sesión
                    </a>
                </nav>
                <label for="btn-menu" class="icono-equis"> <img src="images/menu.png" style="transform:rotate(90deg)"; width="25px" height="30px" alt="menu" /></label>
                <p id="img-letra">BookVault</p>
            </div>
        </div>


<div id="table-container">
<table>
    <thead>
        <tr>
            <th>ID LIBRO</th>
            <th>ISBN</th>
            <th>NOMBRE DEL AUTOR</th>
            <th>EDICION</th>
            <th>PAGINAS</th>
            <th>TITULO</th>
            <th>CIUDAD</th>
            <th>EDITORIAL</th>
            <th>GENERO</th>
            <th></th>   
        </tr>
    </thead>
    <tbody>
        <% results1.forEach((libro)=> { %>
            <tr>
                <td><%= libro.idLibro %></td>
                <td><%= libro.ISBN %></td>
                <td><%= libro.nombreAutor %>&nbsp;<%= libro.apellidosAutor %></td>
                <td><%= libro.edicion %></td>
                <td><%= libro.cantidadPaginas %></td>
                <td><%= libro.titulo %></td>
                <td><%= libro.ciudad %></td>
                <td><%= libro.editorial %></td>
                <td><%= libro.genero%></td>
                <td>
                    <a href="/eliminarlibro/<%= libro.idLibro %>" class="btn">ELIMINAR</a>
                </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
   
    </table>
    <a class="btn" href='/sugerencias'>VER SUGERENCIAS</a>
</div>
</div>
        

    </body>
</html>