<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styles_index.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/navegacion.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/burger.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/admin.css">

</head>
<body>
  <header class=" header">
    <div class = "container "> 
        <div class = "btn-menu">
            <label for="btn-menu" class=""> 
            <img class="menu-icon" src="images/menu.png" width="30px" height="30px" alt="Menu"></label>
        </div>
        <div class="divider">
            <img src="images/Titulo.png" width="260px" height="40px" alt="TituloDivider">
        </div>
          
        <div class="search-bar" id="search-bar">
            <img class="search-icon" src="images/Busqueda.png" alt="Search">
           <input type="text" placeholder="Que vamos a buscar?" id = "autocomplete_search">
           <span id="search_result"></span>
           <span class="fas fa-search"></span> 
        </div>
    </div>

    
</header>
<input type="checkbox" id = "btn-menu">

<div class="container-menu">
    <div class="cont-menu">
        <nav>                
            <a href="solicitud">
                <img class="search-icon" src="images/Libro.png" width="30px" height="30px" alt="Search">
                Solicitar Libro
            </a>
            <br>
            <a href="favoritos">
                <img class="search-icon" src="images/corazon.png" width="30px" height="30px" alt="Search">
                Libros Favoritos
            </a>
            <br>
                <a href="retroalimentacion">  
                    <img class="search-icon" src="images/Retro.png" width="30px" height="30px" alt="Search">
                    Comentar
            </a>
            <br>
            <a id="rojito" href="#">  
                <img class="search-icon" src="images/salir.png" width="30px" height="30px" alt="Search">
                Cerrar sesión
            </a>
        </nav>
        <label for="btn-menu" class="icono-equis"> <img src="images/menu.png" style="transform:rotate(90deg)"; width="25px" height="30px" alt="menu" /></label>
        <!--<img id="img-letra" src="../View/imagenes/Titulo.png" width="180px" height="30px" alt="menu" />   -->
        <p id="img-letra">BookVault</p>
    </div>
</div>




<!--tengo dudas-->
  <div id="resultadosDiv"></div>
    <% for(let i=0;i<results3[0].cantidad;i++) { %>
        <section id="<%= results2[i].genero %>" class="carrusel">
        <h2><%= results2[i].genero %></h2>
        <div class="slider">
        <% results1.forEach((libro)=> { %>
        <% if(results2[i].genero == libro.genero) { %>
                <div class="image-container">
                <img src="bucket/<%=libro.img_libro %>" alt="Imagen 1">
                <p>DESCRIPCION:</p>
                <p>TITULO: <%= libro.titulo %></p>
                <p>AUTOR:<%= libro.nombreAutor %><%= libro.apellidosAutor %></p>
                <p>EDITORIAL: <%= libro.editorial %></p>
                <p>URL: <a href='lector?file=<%= libro.pdf_url %>&id=<%= libro.idLibro %>'>libro</a></p>
            </div>
            <% } %> 
            <% }) %>
        </div>
        </section>
    <% } %>

<!-- <script src="carrusel.js"></script>-->
</body>
</html>
<script src="javascripts/buscador.js"></script>